<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('bundles/app/style/screen.css') }}">

    <title>Blender Farm {% block title %}{% endblock %}</title>
</head>

<body>
{% block navigation %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('project_index') }}">BlenderFarm</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="{{ path('project_index') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('project_index') }}">List</a></li>
                        <li><a href="{{ path('project_add') }}">Add</a></li>
                    </ul>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="{{ path('user_index') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('user_index') }}">List</a></li>
                        <li><a href="{{ path('user_add') }}">Add</a></li>
                    </ul>
                </li>
                {% endif %}

            </ul>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

<div class="container">
{% block body %}{% endblock %}
</div>
<script src="{{ asset('bundles/app/script/main.js') }}"></script>
{% block additionalJs %}{% endblock %}
</body>
</html>
