{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<h1>{% if project.id > 0 %}Edit{% else %}Add{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control"  name="name" id="name">
    </div>
    <div class="form-group">
        <label for="file">Blender file</label>
        <input type="file" name="file" id="file">
    </div>
    <div class="form-group">
        <label for="frameStart">First frame</label>
        <input type="text" class="form-control"  name="frameStart" id="frameStart">
    </div>
    <div class="form-group">
        <label for="frameEnd">Last frame</label>
        <input type="text" class="form-control"  name="frameEnd" id="frameEnd">
    </div>
    <div class="form-group">
        <label for="format">Image format</label>
        <select name="format" class="form-control"  id="format">
            {% for key, value in imageFormats %}
                <option value="{{ key }}">{{ key }} (.{{ value }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="engine">Rendering Engine</label>
        <select name="engine" class="form-control"  id="engine">
            {% for key, value in renderingEngines %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a href="{{ path('project_index') }}" class="btn btn-default">Cancel</a>
</form>
{% endblock %}