<h1>{{ project.name }}</h1>
<p>Status: {{ project.status }}</p>
{% if project.status == constant('AppBundle\\Entity\\Project::STATUS_NEW') %}
<form method="post" action="{{ path('project_queue') }}">
    <input type="hidden" name="id" value="{{ project.id }}">
    <input type="submit">
</form>
{% endif %}
{% if project.status == constant('AppBundle\\Entity\\Project::STATUS_QUEUED') or project.status == constant('AppBundle\\Entity\\Project::STATUS_RENDERING') %}
    {% for frame in project.frames %}
        Frame {{ frame.frameNumber }}: {{ frame.status }}<br>
    {% endfor %}
{% endif %}
