{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle:macros:datetime.html.twig' as datetime %}

{% block body %}
    <h1>Projects</h1>
    <p><a href="{{ path('project_add') }}" class="btn btn-primary">Add new</a></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Format</td>
                <td>Frames</td>
                <td>Status</td>
                <td>Render Time</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                {% set background = '' %}
                {% set showImage = false %}
                {% if project.status == constant('AppBundle\\Entity\\Project::STATUS_FINISHED') %}
                    {% set background = 'success' %}
                    {% set showImage = true %}
                {% elseif project.status == constant('AppBundle\\Entity\\Project::STATUS_RENDERING') %}
                    {% set background = 'info' %}
                {% endif %}
                <tr class="{{ background }}">
                    <td><a href="{{ path('project_detail', { id: project.id }) }}">{{ project.name }}</a></td>
                    <td>{{ project.format }}</td>
                    <td>{{ (project.frameEnd - project.frameStart) + 1 }}</td>
                    <td>{{ project.status }}</td>
                    <td>{{ datetime.formatSeconds(project.renderTime) }}</td>
                    <td>
                        <a href="{{ path('project_delete', {'id': project.id}) }}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}