{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{{ project.name }} details</h1>
    <p><a href="{{ path('project_index') }}" class="btn btn-primary">Back to overview</a></p>
    <p>Status: {{ project.status }}</p>
    <p>Format: {{ project.format }}</p>
    <p>Engine: {{ project.engine }}</p>
    {% if project.status == constant('AppBundle\\Entity\\Project::STATUS_NEW') %}
    <form method="post" action="{{ path('project_queue') }}">
        <input type="hidden" name="id" value="{{ project.id }}">
        <input type="submit">
    </form>
    {% endif %}
    {% if project.status == constant('AppBundle\\Entity\\Project::STATUS_FINISHED') %}
        <a class="btn btn-primary" href="{{ path('project_download', {'id': project.id}) }}">Download result</a>
    {% endif %}
    {% if project.status != constant('AppBundle\\Entity\\Project::STATUS_NEW') %}
        <div class="table-responsive">
            <table class="table project-detail-table">
                <thead>
                    <tr>
                        <th class="col-md-1">Frame</th>
                        <th class="col-md-1">Status</th>
                        <th class="col-md-1">Runtime</th>
                        <th class="col-md-1">Remaining</th>
                        <th class="col-md-5">Progress</th>
                        <th class="col-md-2">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks %}
                        {% set background = '' %}
                        {% set showImage = false %}
                        {% if task.status == constant('AppBundle\\Entity\\Task::STATUS_FINISHED') %}
                            {% set background = 'success' %}
                            {% set showImage = true %}
                        {% elseif task.status == constant('AppBundle\\Entity\\Task::STATUS_RENDERING') %}
                            {% set background = 'info' %}
                        {% endif %}
                        <tr class="{{ background }}">
                            <td>{{ task.frameNumber }}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.runtime }}s</td>
                            <td>{{ task.remaining }}s</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ (task.progress * 100)|number_format(0) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (task.progress * 100)|number_format(0) }}%;">
                                        {{ (task.progress * 100)|number_format(0) }}%
                                    </div>
                                </div>
                            </td>
                            <td>{% if showImage %}<a href="{{ path('task_image', {'id': task.id}) }}" target="_blank">Show image</a>{% else %}&nbsp;{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}